

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 

}

body{
    background-color: #eee;
    
}
/*
///////////////////////////////////////////////////////
////////////////////////////////////HEADER
*/

.nav-container{
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
    height: 10vh;
}

.left-side{
  
    flex: 1 1 20%;
    display: flex;
}

.right-side{
   
    flex: 0 0 20%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;

}
.right-side__search{
    
    display: flex;
    align-items: center;
    flex: 0 0 30%;
}
.left-side a {
    list-style: none;
   
}

.left-side a:hover {
    background-color: #eee;
}
.left-side a {
    background-color: red;
    padding: 3rem;
    text-decoration: none;
    font-size: 1.8rem;
    padding-left: .5rem;
    padding-right: .5rem;
   
}
.left-side__main-content{
    display: flex;
    align-items: center;
    
}

.right-side__main-content{
    flex: 0 0 30%;
    display: flex;
    align-items: center;
    
}

.right-side__main-content a{
    background-color: red;
    padding: 3rem 1.5rem;
    text-decoration: none;
    font-size: 1.8rem;
    padding-left: .5rem;
    padding-right: .5rem;
}
.right-side__main-content a:hover{
    background-color: #eee;
}
.searchbox{
    border-radius: .5rem;
    padding: .5rem;
    outline: none;
    border: 1px solid #ccc;
}

.searchbox:focus{
    border: 1px solid red;
}

/*
///////////////////////////////////////////////////////
////////////////////////////////////MAIN
*/

.main{
    display: flex;
    height: 80vh;
    align-items: flex-start;
}

.item-box{
    margin: 2rem;
    display: flex;
   padding: .8rem;
   border-radius: .5rem;
    
   
    flex-direction: column;
    background-color: rgb(155, 224, 241);
}
.image{
    height: auto;
    width: 100%;
    background-position: cover;
}
h2{
    font-size: 2.8rem;
}
.short-desc{

    font-size: 1.6rem;
}
.btn-info{
    margin-top: auto;
    border-radius: 2rem;
    background-color: yellow;
    text-align: center;
    margin-bottom: .4rem;
}

.btn-info :hover{
    
    background-color: rgb(116, 110, 37);
   
}

.price{
    font-size: 1.8rem;
    font-weight: bold;
}
.descAndPrice{
    display: flex;
    justify-content: space-between;
}
.item-buy:active,
.item-buy:visited{
    color: black;
}

.item-buy{
    height: 20rem;
    flex: 0 0 25%;
   
}

.item-buy__2:active,
.item-buy__2:visited{
    color: black;
}

/*


/////////////////////FOOOTER


*/

.footer{
    background-color: red;
    height: 10vh;
    display: flex;
    justify-content: space-between;
   
}